:root {
  --main-background-color: hsl(275, 50%, 70%);
  --secondary-background-color: hsl(60, 100%, 70%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-background-color);
}

#global-controls {
  background-color: var(--secondary-background-color);
}